<footer class="grid grid-cols-2 divide-black divide-x-black text-lg border-black border-b-2 sticky top-0 bg-white z-50 overflow-visible">
  <a class="text-3xl font-bold my-3 ml-4" href="/">retroDonut&copy;</a>
  <div class="grid grid-flow-col border-black border-x-2 divide-black divide-x-2">
    <a class="btn-primary" href="/">Shop</a>
    <a class="btn-primary" href="/">Shop</a>
  </div>
</footer>
