<section
  class="text-5xl font-bold flex items-center justify-center w-full h-screen bg-[url(/retro-donut-website/photos/hero_bg.webp)] bg-no-repeat bg-center bg-cover border-black border-b-2"
>
  <div class="w-full h-full text-6xl md:text-[14rem]">
    <div class="flex items-center overflow-hidden text-white absolute bottom-4 left-0">
      <span class="animate_char">r</span>
      <span class="animate_char">e</span>
      <span class="animate_char">t</span>
      <span class="animate_char">r</span>
      <span class="animate_char">o</span>
      <span class="animate_char">D</span>
      <span class="animate_char">o</span>
      <span class="animate_char">n</span>
      <span class="animate_char">u</span>
      <span class="animate_char">t</span>
      <span class="animate_char">&copy;</span>
    </div>
  </div>
</section>

<script>
  import gsap from "gsap"
  window.addEventListener("DOMContentLoaded", () => {
    gsap.from(".animate_char", {
      yPercent: -100,
      stagger: 0.02,
      duration: 0.15,
      opacity: 0.2,
      ease: "power3.Out",
      once: true,
    })
  })
</script>
