<section class="w-full h-[50rem] flex divide-black divide-x-2 border-black border-b-2">
  <div class="w-full h-auto overflow-hidden">
    <img class="w-full h-full object-cover object-center hover:scale-105" src="https://via.placeholder.com/500x500" alt="" />
  </div>
  <div class="w-full h-auto overflow-hidden">
    <img class="w-full h-full object-cover object-center hover:scale-105" src="https://via.placeholder.com/500x500" alt="" />
  </div>
  <div class="w-full h-auto overflow-hidden">
    <img class="w-full h-full object-cover object-center hover:scale-105" src="https://via.placeholder.com/500x500" alt="" />
  </div>
</section>
