html {
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

.btn-primary {
  @apply hover:underline no-underline underline-offset-4 transition-all duration-200;
}
